<ion-view title="Camera Tab Default Page" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="cameraTabDefaultPage-button-bar2" class=" button-bar "></div>
        <h1 id="cameraTabDefaultPage-heading2" style="color:#000000;text-align:center;" class=" ">About this App</h1>
        <p id="cameraTabDefaultPage-markdown1" style="color:#000000;" class=" ">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
            Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
            Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
        <a href="mailto:salman.kamkoriwala@arsenaltech.com" id="cameraTabDefaultPage-button9"
        class=" button button-positive  button-block icon-left ion-email ">Drop an Email</a>
        <a href="tel:8401668259" id="cameraTabDefaultPage-button10" class=" button button-positive  button-block icon-left ion-android-call ">Call</a>
    </ion-content>
</ion-view>