<ion-view title="Contact Us" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="contactUs-heading3" style="color:#000000;" class=" ">Contact Us</h1>
        <form id="contactUs-form4" class="list ">
            <label class="item item-input item-floating-label " id="contactUs-input6" name="name">
                <span class="input-label">Your Neme</span>
                <input type="text" placeholder="Your Name">
            </label>
            <label class="item item-input item-floating-label " id="contactUs-input7" name="email">
                <span class="input-label">Your Email</span>
                <input type="email" placeholder="Your Email">
            </label>
            <label class="item item-input item-floating-label " id="contactUs-input8" name="phone">
                <span class="input-label">Your Phone #</span>
                <input type="tel" placeholder="Your Phone #">
            </label>
            <label class="item item-input item-floating-label " id="contactUs-input9" name="subject">
                <span class="input-label">Subject</span>
                <input type="text" placeholder="Subject">
            </label>
            <label class="item item-input " id="contactUs-textarea1" name="message">
                <span class="input-label">Your Message</span><textarea placeholder="Your Message"></textarea>
            </label>
            <a href="#" onclick="window.open('http://apitest.com', '_system', 'location=yes'); return false;" id="contactUs-button11" class=" button button-positive  button-block ">Submit</a>
        </form>
    </ion-content>
</ion-view>